.DS_Store
*~*
*#*


# Added by cargo

/target
public/opinion.wasm
public/opinion_bg.wasm
public/opinion_bg.wasm.d.ts
public/opinion.d.ts
public/opinion.js

.vercel

# Added my who
/macroquad
/particles-editor
assets/JetBrainsMono-Medium.ttf

# confidential
.env.local
